.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;

  z-index: -1;

  background-image: url('/src/images/last-bg-3x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }
}
