.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;


  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(/src/icons/Icon-Phone-call-3x.png);
  }

  &--menu {
    background-image: url(/src/icons/Icon-Burger-menu-3x.png);

    &:hover {
      background-image: url(/src/icons/Icon-Burger-menu-hover-3x.png);
    }
  }

  &--close {
    background-image: url(/src/icons/Icon-Close-3x.png);
  }
}

.icon-phone-container {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.icon--phone-icon {
  position: absolute;
  right: 100%;
  top: 50%;
  white-space: nowrap;

  margin-right: 8px;
  color: $main-text-color;
  text-decoration: none;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) translateX(10px);
  pointer-events: none;

  transition: opacity 0.3s ease,
              transform 0.3s ease,
              visibility 0.3s;

  @include on-tablet {
    font-size: 18px;
  }
}

.icon-phone-container:hover {
  .icon--phone-icon {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(0);
    pointer-events: auto;
  }
}
