.page {
  scroll-behavior: smooth;

  box-sizing: border-box;

  font-family: Poppins, sans-serif;

  font-size: 16px;
  line-height: 140%;
  color: $main-text-color;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    position: relative;
    background-color: $theme-color;

    box-sizing: border-box;
    min-width: 320px;
    margin: 0;
    padding-bottom: 200px;

    @include on-tablet {
      padding-bottom: 480px;
    }

    @include on-desktop {
      padding-bottom: 555px;
    }
  }

  &__menu {
    pointer-events: none;

    position: fixed;
    inset: 0;
    transform: translateX(-100%);

    box-sizing: border-box;
    width: 100%;

    opacity: 0;

    transition: all 0.3s;

    &:target {
      pointer-events: all;
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 140%;
}

.text-small {
  font-size: 14px;
  font-style: Regular;
  line-height: 140%;
}

.photo:hover {
  transform: scale(1.05);
  transition: transform $effect-duration;
}
